
##################################################################################
# Defining annotation set names
# The only reason to change these values is to substitute one generator for another
# There is a dependency between these values and the feature extractor values (which is why we 
# use references there)
#		AnnotationSet.SetName=annotSet
#		which means: load and use annotation set "annotSet" for the annotations
#		"SetName". "SetName" is an internal constant to the system and 
#		and is configured in class General.Constants
#
##################################################################################
#Specify what annotations are used in feature generation
RUN_FEATURE_GENERATION=true
AnnotationSet.Sentence=sentence
AnnotationSet.Paragraph=paragraph
AnnotationSet.PartOfSpeech=pos
AnnotationSet.Token=token
AnnotationSet.Parse=parse
AnnotationSet.Dependency=dep
AnnotationSet.NamedEntities=ne
AnnotationSet.OriginalMarkup=gold_annots

# change to original markup if you want to use extracted/given mentions 
AnnotationSet.MarkableNP=nps
#AnnotationSet.MarkableNP=gold_annots


DATASET=dataset
##################################################################################
# Record information, system to keep track of all experiments and configurations. 
##################################################################################
RNAME=${DATASET}-${CLASSIFIER}-baseline.rec

##################################################################################
# Configuration of the preprocessing component
# 
# 	Preprocessing elements are configured as follows:
#		PreprocessingElement.ElementPackage.Element=annotSet1,annotSet2
#		means: Run preprocessor with name "Element" located in java package 
#		"Element Package" (default is "FeatureExtractor") and save the 
#		results in annotation sets (filenames) annotSet1, annotationSet2.
#		Most preprocessing elements produce only one annotation set.
#
##################################################################################
OVERWRITE_FILES=false
PREPROCESS=true

#Specify what preprocessing components to be run and what is the annotation set name that each component produces
# Note that we cannot produce the Original markup in the base file because that is data set specific
# Add that information to the data set specific config file and import base.config from there
PreprocessingElement.ParagraphSplitter=${AnnotationSet.Paragraph}
PreprocessingElement.SentenceSplitterOpenNLP=${AnnotationSet.Sentence}
PreprocessingElement.TokenizerOpenNLP=${AnnotationSet.Token}
PreprocessingElement.LongSentenceSplitter=${AnnotationSet.Sentence},sentence.long
PreprocessingElement.PosTaggerOpenNLP=${AnnotationSet.PartOfSpeech}
PreprocessingElement.ParserBerkeleyParser=${AnnotationSet.Parse},${AnnotationSet.Dependency}
PreprocessingElement.NamedEntityStanford=${AnnotationSet.NamedEntities}
# change the base np annotator if you want to do given mentions so we don't trash the base np annots
#PreprocessingElement.BaseNPAnnotator=${AnnotationSet.MarkableNP}
PreprocessingElement.BaseNPAnnotator=nps

#PreprocessingElement.BaseNPAnnotator=muc_annots

CACHE_ANNOTS=true

#NER models
StanfordTaggerModelNames = ner-eng-ie.crf-3-all2008-distsim
#, llnl_date_750

##############################################
# Names of the features that are being used
##############################################
FEAT_SET_NAME=ALL
FEATURE_NAMES=DocNo, ID1, ID2, ID1BeginOffset, ID1EndOffset, ID2BeginOffset, ID2EndOffset  
#FEATURE_NAMES=Category1, Category2, Semantic1, Semantic2
FEATURE_NAMES=SoonStr, ProStr, ProComp, PNStr, WordsStr, WordOverlap, Modifier, PNSubstr, WordsSubstr		 
FEATURE_NAMES=Pronoun1, Pronoun2, Definite1, Definite2, Demonstrative2, Embedded1, Embedded2, InQuote1, InQuote2
FEATURE_NAMES=BothProperNouns, BothEmbedded, BothInQuotes, BothPronouns, BothSubjects, Subject1, Subject2, Appositive, MaximalNP
FEATURE_NAMES=Animacy, Gender, Number, SentNum, ParNum, Alias, IAntes, Span, Binding, Contraindices, Syntax, ClosestComp 
FEATURE_NAMES=Indefinite, Indefinite1, Prednom, Pronoun, ContainsPN, Constraints, ProperNoun, Agreement, ProperName
FEATURE_NAMES=WordNetClass, WordNetDist, WordNetSense, Subclass, RuleResolve, SameSentence, ConsecutiveSentences
FEATURE_NAMES=SameParagraph, HeadMatch, PairType, instClass


#####################
# when generating prediction pairs, what class should be used to generate the pairs
# known pair generators: AllPairs, SmartInstanceGenerator, SoonInstanceSelection
#####################
INSTANCE_GENERATOR=SmartInstanceGenerator


###############################
# How many noun phrases to look back before we stop considering potentially coreferent phrases
###############################
FeatureVector.lookback = 50

############################################################################
# Configuration of the learning component
#	Specifies whether training is to be run, what classifier is to be 
#	used and what are the options for the classifier.
############################################################################
TRAIN=true
#CLASSIFIER=AlwaysPositive
#CLASSIFIER=SameParagraph
#CLASSIFIER=PerceptronM
CLASSIFIER=DecisionTree
ClOptions.DecisionTree=
ClOptions.PerceptronM=-I, 15, -M, 5
ClOptions.StRip=-L,10


MODEL_NAME=${DATASET}-${CLASSIFIER}-model
############################################################################
# Validation
############################################################################
VALIDATE=false
VALIDATOR=ThresholdValidator
NUM_FOLDS=5
NUM_POINTS=60
NUM_INITIAL_POINTS=25

############################################################################
# Configuration of the testing component
#	Specifies whether testing is to be run, the options for the classifier (specified in the previous section) 
#	and what clusterer and options to be run.
############################################################################
TEST=true
TESTER.RUN_CLASSIFIER=true

CLUSTERER=SingleLink
#CLUSTERER=BestFirst
#CLUSTERER=MostRecentFirst
ClustOptions.THRESHOLD=0.5

############################################################################
# Configuration of the scoring component
# Essentially the location of the official MUC scorer program, also used for validation. 
############################################################################
#SCORER=BCubedScore
SCORER=OfficialMUCScoreNoSingletons
#SCORER=MUCScore


SCORERS=BCubedScore, BCubedTwinsOnly, CEAFScore, KrippAlpha
SCORERS=MUCScore
#SCORERS=OfficialMUCScore, OfficialMUCScoreNoSingletons

OPTIMIZE_SCORER_SET=BCubedScore, BCubedTwinsOnly
OPTIMIZE_SCORER_SET=MUCScore
#OPTIMIZE_SCORER_SET=OfficialMUCScoreNoSingletons

